# Analytical Data Project: [Shopping Card Database]

## Determine Business Problems(QUESTIONS)

1. How has the company's sales and revenue performed in recent months?
2. What are the most and least sold products?
3. What are our customer demographics?
4. When did the customer last make a transaction?
5. How often has a customer made a purchase in the last few months?
6. How much money did the customer spend in the last few months?

## Import Semua Packages/Library yang Digunakan

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [ ]:
# Loading the customers data
customers_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/customers.csv")
customers_df.head()

In [ ]:
# Loading the orders data
orders_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/orders.csv")
orders_df.head()

In [ ]:
# Loading the product data
product_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/products.csv")
product_df.head()

In [ ]:
# Loading the sales data
sales_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
sales_df.head()

**Insight:**
- Okay, now we have successfully loaded all the required data. The next stage is to assess the quality of the data.

### Assessing Data

In [ ]:
customers_df.info()
customers_df.isna().sum()
print("Jumlah duplikasi: ", customers_df.duplicated().sum())

In [ ]:
customers_df.describe()

In [ ]:
orders_df.info()
print("Jumlah duplikasi: ",orders_df.duplicated().sum())

In [ ]:
orders_df.describe()

In [ ]:
product_df.info()
print("Jumlah duplikasi: ", product_df.duplicated().sum())

In [ ]:
product_df.describe()

In [ ]:
sales_df.info()
sales_df.isna().sum()
print("Jumlah duplikasi: ", sales_df.duplicated().sum())

In [ ]:
sales_df.describe()

**Insight:**
- **costumers_df** = If you pay attention, there is a strangeness in the maximum value contained in the age column. This is most likely due to the presence of an inaccurate value in the column. We will also clean up this problem in the data cleaning stage.
- **orders_df** = If you pay attention, there is no strangeness in the results. This shows that there is no duplication and strangeness of values in orders_df.
- **product_df** = Based on the image above, it can be seen that there are 6 duplicated data in product_df. In the data cleaning stage, we will remove the duplication.
- **sales_df** = The above results show that there is no duplication in the sales_df. In addition, it also shows that there is no strangeness in the summary of statistical parameters from sales_df.

### Cleaning Data

**CUSTOMERS_DF**

In [ ]:
### CLEANING customers_df Data

# Based on the results of the data assessment process, it is known that there are three problems
# encountered in the customer_df, namely duplicate data, missing value, and inaccurate value. At
# this stage, we will clear up all three problems.

# Eliminating duplicate data

# The first problem we will deal with is duplicate data. As we have learned before, when we find
# duplicates in the data, we must eliminate or delete those duplicates. Well, to do this, we can
# make use of the drop_duplicates() method. Here is the code to remove duplicates on customer_df.

customers_df.drop_duplicates(inplace=True)

# After running the above code, double-check that there are still duplicates in the data by 
# running the following code.

print("Jumlah duplikasi: ", customers_df.duplicated().sum())

# If the deduplication process goes smoothly, the above code will produce an output indicating 
# the absence of duplicates on the customers_df.

# Dealing with missing value

# The next problem we have to deal with is the missing value in the gender column. Well, in 
# general, there are three methods to overcome missing value, namely dropping, imputation, and 
# interpolation. To determine which method to use, we need to look at the data that contains the
# missing value using the following filtering technique.

customers_df[customers_df.gender.isna()]

# The above code will only display rows of data that meet the condition customers_df.gender.isna()
# or in other words it will display rows of data that contain missing values in the gender column.
# Here's what the row of data looks like.

# Based on the image above, it can be seen that the data row still contains a lot of important
# information so it would be a pity if it was thrown away immediately. Therefore, in this case,
# we will use the imputation method to handle the missing value.

In [ ]:
# In the imputation method, we will use a specific value to replace the missing value. The gender
# column is a categorical column, we will use the dominant value as a substitute for the missing
# value. Use the value_counts() method to identify the dominant value.

customers_df.gender.value_counts()

# The above code will produce the following output.

In [ ]:
# Based on the results above, it can be seen that the most dominant value in the gender column is
# "Prefer not to say". This value is what we will use next as a substitute for missing value.
# This replacement process can be done using the fillna() method as in the following example.

customers_df.fillna(value="Prefer not to say", inplace=True)

# To make sure the above process is running properly, we can re-run the code to identify the
# missing value as follows.

customers_df.isna().sum()

# If the missing value cleanup process is successful, you will get the following results.

In [ ]:
# Handling the innacurate value

# Okay, now we're going to solve the problem of inaccurate values in the age column. For starters,
# we need to look at the data row data that contains the inaccurate value (the row with the 
# maximum age value). This is done using a filter technique like the following code example.

customers_df[customers_df.age == customers_df.age.max()]

# The code above will display the rows of data that have the maximum age value.

In [ ]:
# Based on this data, we can assume that the inaccurate value occurred due to human error so that
# the excess entered a zero value. Therefore, replace it with a value of 70. This process is done
# by utilizing the replace() method as shown in the following example.

customers_df.age.replace(customers_df.age.max(), 70, inplace=True)

# Well, to make sure the code above runs as expected, run the following code again.

customers_df[customers_df.age == customers_df.age.max()]

# Upsi, it turns out that there are still other invalid values contained in the age column.

In [ ]:
# The cause of this error is likely to be the same as before, namely human error that is
# overloaded with a zero value. To handle this, we'll replace it with a value of 50.

customers_df.age.replace(customers_df.age.max(), 50, inplace=True)

# To make sure there are no inaccurate values in the customers_df, run the following code.

customers_df.describe()

# The above code will produce the following output!

**ORDERS_DF**

In [ ]:
# CLEANING orders_df Data

# Okay, now we have solved all the problems that exist in customers_df. Next, we will overcome
# the problem in orders_df. Based on the previous data assessment process, it is known that there
# is a data type error for the order_date & delivery_date columns. To solve this problem, we'll
# replace the data type in the order_date & delivery_date columns to datetime. This process can 
# be done using  the to_datetime() function provided by the pandas library. Here's an example
# code to do so.

datetime_columns = ["order_date", "delivery_date"]
 
for column in datetime_columns:
  orders_df[column] = pd.to_datetime(orders_df[column])

# The above code will change the data type in the order_date & delivery_date columns to datetime.
# To make sure this works as expected, double-check the data type using the info() method.

orders_df.info()

**PRODUCT_DF**

In [ ]:
# CLEANING product_df Data

# The next data we will clean up is product_df. According to the results of the previous data
# assessment, we know that there are 6 duplicate data in product_df. To solve this, we need to
# discard the same data using the drop_duplicates() method as in the following example.

product_df.drop_duplicates(inplace=True)

# The code above will delete all duplicate data. To make sure the code works as expected, run the following code.

print("Jumlah duplikasi: ", product_df.duplicated().sum())

**SALES_DF**

In [ ]:
# CLEANING sales_df Data

# The next data you need to clean up is sales_df. Based on the results of the previous data
# analysis, it is known that there are 19 missing values in the total_price column. To find
# out the most appropriate process for handling missing values, we need to first look at the
# data rows that contain the missing values.

sales_df[sales_df.total_price.isna()]

# The code above will display all the rows of data that have missing values in the total_price
# column as shown in the following image.

In [ ]:
# Based on the display of the data, we find that the value of total_price is the result of
# multiplication between price_per_unit and quantity. We can use this pattern to handle missing
# values in total_price columns. Here's an example of implementing code to do this.

sales_df["total_price"] = sales_df["price_per_unit"] * sales_df["quantity"]

# The code above will address all missing values and ensure that the values in total_price
# columns are correct. To make sure of this, you can double-check the number of missing values
# on the sales_df using the following code.

sales_df.isna().sum()

**Insight:**
- **customers_df** = Based on these results, it can be seen that the age column has a maximum value that is quite reasonable. In addition, if you pay attention, the mean and standard deviation values also change after we deal with the inaccurate value.
- **orders_df** = If all stages go as expected, the above code will produce the following output.
- **product_df** = If the process of deleting duplicate data goes smoothly, the above code will produce an output like the following "Number of duplicates: 0".
- **sales_df** = If the previous process went smoothly, you will find the following results.

## Exploratory Data Analysis (EDA)

### Exploratory Data Analysis

**customers_df Data Exploration**

In [ ]:
#First, we'll explore customers_df data first. As we know, this dataset contains various
# information related to customers, such as customer_id, customer_name, gender, age, home_address,
# zip_code, city, state, and country.

# For starters, we'll look at a summary of the statistical parameters of customers_df data using
# the describe() method.

customers_df.describe(include="all")

# The following is a summary of the statistical parameters obtained from the code above.

In [ ]:
# Based on the summary of the statistical parameters above, we will obtain information on the
# number of customers as many as 1001 people who are in the range between 20 to 80 years old with
# an average age of 49.87 years with a standard deviation of 17.64 years. This information can
# certainly give an idea that the customer segmentation we have is quite wide, ranging from
# teenagers to the elderly.

# Now let's take a look at customer demographics by gender. To do this, we'll use the groupby()
# method followed by the agg() method. Here's an example code to do so.

customers_df.groupby(by="gender").agg({
    "customer_id": "nunique",
    "age": ["max", "min", "mean", "std"]
})

# The code above will generate a pivot table. It contains information on the number of customers
# (unique from customer_id) as well as age parameters grouped by gender. The image below is a
# view of the pivot table.

In [ ]:
# Based on the pivot table above, it can be seen that the customers we have are dominated by
# gender prefer not to say. On the other hand, their age distribution turned out to be quite
# similar, ranging from 20 to 80 years.

# Next, we try to see the distribution of the number of customers by city and state. To do this
# we will also use the groupby() method. Also, to make the results easier to see, we'll sort
# the values using the sort_values() method in a descending manner. Here's an example code to
# do so.

customers_df.groupby(by="city").customer_id.nunique().sort_values(ascending=False)
customers_df.groupby(by="state").customer_id.nunique().sort_values(ascending=False)

# The two codes will generate a pivot table as follows.

**Orders_df Data Exploration**

In [ ]:
# The second data that we will explore is orders_df. It contains various information related
# to an order consisting of order_id, customer_id, order_date, and delivery_date. Based on
# this information, we can create a new column to contain the delivery time of each order.
# To do this, we need to calculate the difference between the delivery_date and order_date and
# store it as a delivery_time. Next, we'll use the apply() method to perform an operation on 
# each element in a DataFrame or Series column (a one-dimensional form of the DataFrame).
# The operation we will do is to calculate the number of seconds of delivery_time using the
# total_seconds() method. The value is then converted into a unit of days (divided by 86400) 
# and taken as an integer only. Here's an example code to do all of these processes.

delivery_time = orders_df["delivery_date"] - orders_df["order_date"]
delivery_time = delivery_time.apply(lambda x: x.total_seconds())
orders_df["delivery_time"] = round(delivery_time/86400)

# After running the above code, you will find a new column on the DataFrame orders_df as follows.

In [ ]:
# To get a summary of statistical parameters from orders_df data, we can use the method
# describe() as shown in the following code example.

orders_df.describe(include="all")

# The code will produce a summary display of the following statistical parameters.

**Data Exploration orders_df and customers_df**

In [ ]:
# If you notice, in the orders_df data there is a column containing information related to
# the customer id of the customer who has placed an order. We can use this information to
# identify customers who have never placed an order. To do this, we can create a new column
# named "status" in the customers_df data. The column has an "Active" value for customers
# who have placed an order at least once and vice versa with a value of "Non Active" for
# customers who have never placed an order at all. Here's the code to do so.

customer_id_in_orders_df =  orders_df.customer_id.tolist()
customers_df["status"] = customers_df["customer_id"].apply(lambda x: "Active" if x in customer_id_in_orders_df else "Non Active")
customers_df.sample(5)

# The code above will produce five sample data as follows.

In [ ]:
# To obtain information regarding the number of customers with "Active" and "Non Active"
# status, we can use pivot tables. Here's an example code to create a pivot table using the
# "status" column.

customers_df.groupby(by="status").customer_id.count()

# The view of the pivot table will look like the one below.

In [ ]:
# As seen in the pivot table above, there are quite a lot of customers who have never made
# a transaction before. This is certainly bad news for us because almost 30% of our customers
# have never placed an order before.

# To obtain more information related to these two data, we need to combine them through a 
# join or merge process. Here's an example of code for merging orders_df and customers_df data.

orders_customers_df = pd.merge(
    left=orders_df,
    right=customers_df,
    how="left",
    left_on="customer_id",
    right_on="customer_id"
)
orders_customers_df.head()

# In the code above, we perform the merge process with the "left" method. Of course, you
# still remember not with this method. Yep, it's true that this method allows us to retrieve
# all the values from the left table as well as the values that correspond to the right table.
# Here's what the data looks like from the code above.

# There is a lot of information that we can explore from the data above. Here are some things
# to explore.

**1. Number of orders by city**

In [ ]:
# We can create a pivot table to obtain information related to the number of orders by city
# with the following code. The code above, will produce a pivot table view as shown below.

orders_customers_df.groupby(by="city").order_id.nunique().sort_values(ascending=False).reset_index().head(10)

# Well, based on these results, it is known that the cities of Jordanside and New Ava are the
# two cities that have the highest number of orders.

**2. Number of orders by state**

In [ ]:
# Now we will look at the number of orders by state. To obtain information related to this, we
# can also use pivot tables. Use the code below to implement it. The code will generate a pivot
# table as shown below. Based on the pivot table, it is known that South Australia is a state
# that makes a lot of orders.

orders_customers_df.groupby(by="state").order_id.nunique().sort_values(ascending=False)

**3. Number of orders by gender**

In [ ]:
# The next information that we can explore is the number of orders by gender. To do this, of
# course, we need to create a pivot table using the following code. The code above will produce
# a pivot table view as follows.

orders_customers_df.groupby(by="gender").order_id.nunique().sort_values(ascending=False)

# Based on these results, it can be seen that most orders are made by customers who prefer not
# to say. This is certainly in line with the number of customers, most of whom are from this 
# gender group.

**4. Number of orders by age group**

In [ ]:
# Last but not least, we can also explore the number of orders by age group. To do this, we need
# to define a new column named "age_group". This column will help us in grouping customers into
# three groups, namely youth, adults, and seniors. Next, create a pivot table based on this
# using the example code below. The code above, will produce a pivot table view as follows.

orders_customers_df["age_group"] = orders_customers_df.age.apply(lambda x: "Youth" if x <= 24 else ("Seniors" if x > 64 else "Adults"))
orders_customers_df.groupby(by="age_group").order_id.nunique().sort_values(ascending=False)

# Based on these results, it is known that the customers who make the most orders come from
# the Adults age group.

**Data Exploration product_df and sales_df**

In [ ]:
# At this stage, we will explore product_df data and sales_df. For starters, we can see a 
# summary of the statistical parameters of the two using the describe() method.

product_df.describe(include="all")
sales_df.describe(include="all")

# The two codes will each produce a summary of statistical parameters as follows.

In [ ]:
# Based on these results, it can be seen that the price of the goods sold ranges from 90 to 119
# dollars. In addition, we also get other information that is no less interesting, namely in
# each transaction, customers buy a maximum of three items in one type of product with a total
# price of 357 dollars.

# If you are curious about the product that has the most expensive and lowest price, please run
# the following code to see it.

product_df.sort_values(by="price", ascending=False)

# Here's what the results of the code above look like. It can be seen that the most expensive
# product is a jacket item called Parka and the cheapest one is called Bomber.

In [ ]:
# Next, we can use pivot tables to search for information related to products based on the type
# and name of the product. Here's an example of code you can use.

product_df.groupby(by="product_type").agg({
    "product_id": "nunique",
    "quantity": "sum",
    "price":  ["min", "max"]
})
 
product_df.groupby(by="product_name").agg({
    "product_id": "nunique",
    "quantity": "sum",
    "price": ["min", "max"]
})

# The two codes will each generate a pivot table as follows.

In [ ]:
# The pivot table above can give us an overview of the products sold by the Dicoding Collection.
# As a prospective reliable data practitioner, of course you are curious about the best-selling
# products. Well, to answer this question, we need to merge the product_df and sales_df tables
# with the following code.

sales_product_df = pd.merge(
    left=sales_df,
    right=product_df,
    how="left",
    left_on="product_id",
    right_on="product_id"
)
sales_product_df.head()

# Basically, the code above will perform a merge process on product_df and sales_df data. 
# The merge process is carried out using the "left" method. The following are the results of the
# merge process.

# If you look back, the result of the merger process above has a difference between the
# price_per_unit and price values. This can happen due to discounts, operational costs, 
# and other costs.

# Okay, now let's try to look at the product sales information by type. Surely you can already
# guess what technique we will use to obtain this information, right? Yep, that's right, 
# we're going to create a pivot table based on product type with the following code.

sales_product_df.groupby(by="product_type").agg({
    "sales_id": "nunique",
    "quantity_x": "sum",
    "total_price": "sum"
})

# Here's the pivot table obtained from the code above.

In [ ]:
# If you pay attention to the pivot table above, Trousers are the best-selling product type.
# However, when viewed based on the revenue received, Jacket is the type of product that
# contributes the most to the company's revenue.

# We can create the same pivot table to view sales information based on product name using the
# code below

sales_product_df.groupby(by="product_name").agg({
    "sales_id": "nunique",
    "quantity_x": "sum",
    "total_price": "sum"
}).sort_values(by="total_price", ascending=False)

# The code above will generate a pivot table as follows.

# Based on the pivot table, it is known that Denim products are the best-selling products and
# also contribute the most revenue to the company.

**all_df Data Exploration**

In [ ]:
# if you pay attention to this sales data is quite interesting to explore deeper. This is done
# to see purchase patterns based on customer demographics. Therefore, we need to create a new
# DataFrame named all_df to hold all the information from the four tables we have. Here's an
# example of code that we can use to run this merge process.

all_df = pd.merge(
    left=sales_product_df,
    right=orders_customers_df,
    how="left",
    left_on="order_id",
    right_on="order_id"
)
all_df.head()

# The merge process above will produce a DataFrame as follows.

In [ ]:
# Next, let's try to look at purchasing preferences based on customer state and product type
# using the code below.

ll_df.groupby(by=["state", "product_type"]).agg({
    "quantity_x": "sum",
    "total_price": "sum"
})

# The code above will generate a pivot table as follows.

In [ ]:
# The pivot table above gives us an idea of the types of products that users prefer based on
# their state location. If you pay attention, the Jacket product type (red line) is most sold
# in the states of Queensland, South Australia, and New South Wales. For other product types,
# you can see it in the pivot table image above.

# Now you can do the same to find out the taste of customers' product types based on gender and
# age group. Here's an example of code you can use.

all_df.groupby(by=["gender", "product_type"]).agg({
    "quantity_x": "sum",
    "total_price": "sum"
})
 
all_df.groupby(by=["age_group", "product_type"]).agg({
    "quantity_x": "sum",
    "total_price": "sum"
})

# The two codes above will generate each of the following pivot tables.

In [ ]:
# The pivot table above can give us an idea of the taste of customer product types based
# on gender and age group. All of this information will be of great help to you in answering
# questions related to user preferences based on their demographics.

**Insight:**
1. customer_df = Based on the results above, it can be seen that the distribution of our customers is quite evenly distributed in every city and state. Our customers are most in the cities of East Aidan, East Sophia, and New Ava with three customers each. In addition, most of our customers are from the state of South Australia.
2. orders_df = Based on these results, it can be seen that the average delivery time is 14 days with a maximum value of 27 days and a minimum value of 1 day.
3. orders_df and customers_df = Read the code above
4. product_df and sales_df = read the code above
5. all_df = read the code above

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2